@CHARSET "UTF-8";

.lists {
	display: -webkit-flex;
    display: flex;
     width: 80%;
    margin-left: 10%;
    margin-top: 10px;
	float: left;
    height: 15%;
    background-color: #f6b184;
}

.movie-list {
	/* width: 100px; */
	flex: 1;
	/* background-color: cornflowerblue; */
}

.theater-list {
/* 	width: 100px; */
	flex: 1;
	/* background-color: yellow; */
}

.date-list {
	/* width: 100px; */
	flex: 1;
	/* background-color: #458dcc; */
}

.searchButton {
	margin-top: 10px;
	width: 100px;
	height: 100%;
}

.reservation-table {
	margin-top: 10px;	
}

.table-header {
	background-color: yellowgreen;
}

.reservation-list {
	background-color: lightgoldenrodyellow;
}