@CHARSET "UTF-8";
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 5px;
    text-align: center;
}

th {
    height: 50px;
    background-color: #bada55;
}

td {
    background-color:lightgoldenrodyellow;
    height: 50px;
}